{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand top-nav-text" href="#">Election</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/"
                >View Polling Result</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/polls">View Polling Total</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">Store Results</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="top-text">Welcome To Election Management App</h1>
    <main>
      <p>Local Government Area</p>

      <form class="form-class" method="post" action="/polls">
        {% csrf_token %} {% if message %}
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          {{message}}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %}
        <div class="mb-3">
          <select
            class="form-select"
            name="id"
            id="id"
            aria-label="Default select example"
          >
            <option selected disabled>Select Local Government Area</option>
            {% for area in Lga %}
            <option value="{{area.lga_id}}">{{area.lga_name}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">See Total Result</button>
      </form>
    </main>
  </body>
</html>
